git+https://github.com/digitalearthpacific/dep-tools.git@0.4.1.1#egg=dep-tools
#numpy==1.26.4
#scipy<0.15
#scikit-learn==1.1.3
scikit-build 
setuptools 
typer 
typing-extensions
dea-tools
#numpy==2.2.3

#jupyterlab 
#jupyterlab-lsp
#python-lsp-server[all]
#matplotlib 
#mapclassify
#mercantile


